@model IEnumerable<Review20180707.Models.Product>

@{
    ViewBag.Title = "NewIndex";
}

<h2>NewIndex</h2>

<p>
    @Html.ActionLink("新增", "AddNewProduct", "Products")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
